{% extends 'base.html' %}

{% block content %}
      <form class="mt-5" action="#" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Enter Keywords</label>
          <input type="text" name="keywords" class="form-control" id="keywordsInput" aria-describedby="keywordsInput" placeholder="Keywords with , separator (e.g messi,ronaldo)">
        </div>
        <div class="form-group mt-4">
          <label for="exampleInputPassword1">Websites</label>
          <input type="text" name="websites" class="form-control" id="exampleInputPassword1" placeholder="Websites with , separator">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>

{% endblock %}
